nav {
    background-image: url('/Nav-image.png');
    background-size: cover;
    font-size: 10px;
}

.logo {
    object-fit: contain;
    width: 80px;
    height: 80px;
}
.nav-buttons {
    background-color: #C4FFBF;
}


